<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div class="alert alert-danger">
      <strong>Error:</strong> <%= board.errors.full_messages.to_sentence %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :board_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :visibility %>
    <%= form.select :visibility, visibility_options, {}, id: :board_visibility, class: "form-control" %>
  </div>

  <div class="checkbox">
    <%= form.label :favorite do %>
      <%= form.check_box :favorite, id: :board_favorite %> Favorite
    <% end %>
  </div>

  <%= form.submit class: "btn btn-default" %>
  <%= link_to 'Back', boards_path %>
<% end %>
